.navbar {
    padding-block: 2rem;

    .navbar-nav {
        & > .dropdown {
            @media (min-width: 992px) {
                margin-inline-end: 4.57rem;
                &:hover {
                    .dropdown-menu {
                        display: block;
                        margin-top: 0;
                    }
                }
            }

            a {
                color: $gray;
                &.active {
                    color: $green;
                }
            }
        }
    }
}
